<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    <link href="/styles/website/css/bootstrap.min.css" rel="stylesheet">
    <link  rel = "stylesheet"  href = "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" >
    <link href="/styles/website/css/font-awesome.min.css" rel="stylesheet">
    <link href="/styles/website/css/prettyPhoto.css" rel="stylesheet">
    <link href="/styles/website/css/price-range.css" rel="stylesheet">
    <link href="/styles/website/css/animate.css" rel="stylesheet">
  <link href="/styles/website/css/main.css" rel="stylesheet">
  <link href="/styles/website/css/responsive.css" rel="stylesheet">       
    <link rel="shortcut icon" href="styles/website/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/styles/website/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/styles/website/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/styles/website/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/styles/website/images/ico/apple-touch-icon-57-precomposed.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--zoom images -->
    <script src='/styles/website/js/jquery.elevatezoom.js'></script>

</head><!--/head-->

<body>
    <header id="header"> 
        {%block head%}{%endblock%}
    </header>
    {%block slider%}{%endblock%}
    {%block content%}
        {%block sidebar%}{%endblock%}
        {%block value%}{%endblock%}
    {%endblock%}
    {%block footer%}{%endblock%}

    <script>
        $(document).ready(function(){
            $("button#add-to-cart").click(function(){
                   var user = $('#cart').val();

                   if(user == ''){
                     window.location.replace('/login');
                   }else{

                       var value = "id =" + $(this).val();

                       $.ajax({
                          type: "Post",
                          url: "/pay/addcart.php",
                          data: value,
                          cache: false,
                          success:  function(html){
                            
                          }
                      });
                 }
            });
        });
    </script>
    <script src="/styles/website/js/jquery.js"></script>
    <script src="/styles/website/js/bootstrap.min.js"></script>
    <script src="/styles/website/js/jquery.scrollUp.min.js"></script>
    <script src="/styles/website/js/price-range.js"></script>
    <script src="/styles/website/js/jquery.prettyPhoto.js"></script>
    <script src="/styles/website/js/main.js"></script>

</body>
</html>